<div class="form-group">
  <label class="form-group__label">{{label}}</label>
  <input
    type="{{type}}"
    class="form-group__input {{classname}}"
    value="{{text}}"
    name="{{name}}"
  />
</div>